@font-face {
  font-family: Valorant;
  src: url(../font/ValorantFont.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-family: Valorant, sans-serif;
}

.app {
  /* this sets the entire */
  background-color: red;
  position: absolute;
  width: 100%;
  min-height: 100%;
}
header {
  text-align: center;
}
.tutorial {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
section {
  padding: 10rem;
  margin: 0 10em;
  border: 1px solid;
  text-align: center;
}
