@font-face {
  font-family: Valorant;
  src: url(../font/ValorantFont.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.app {
  /* this sets the entire */
  position: absolute;
  width: 100%;
  min-height: 100%;
}
.app-header {
  margin-top: 2rem;
}
header {
  font-family: Valorant, sans-serif;
  font-size: 2rem;
  text-align: center;
}

main {
  margin-top: 3rem;
}
.tutorial {
  font-family: Valorant, sans-serif;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

section {
  padding: 7.5rem;
  margin: 0 7em;
  border: 1px solid;
  text-align: center;
}

.btn-container {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.btn {
  background-color: red;
  font-size: 2rem;
  padding: 1rem 2.5em;
  text-decoration: none;
  color: white;
}

.map-selection {
  width: max(80%, 90em);
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.map-selection > li {
  list-style: none;
  border: 1px solid;
}

li > input {
  padding: 2rem;
}

.game {
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
}
.map-container {
  /* remove display block later */
  display: block;
  width: 500px;
  height: 500px;
  background-color: red;
}

.map-button {
  padding: 1rem 2em;
}

.card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card > img {
  width: 20rem;
}
.card > p {
  font-size: 2em;
  margin: 0.75rem auto;
  text-align: center;
}
.card > button {
  font-size: 1rem;
  padding: 0.5rem 3.75em;
  margin-bottom: 1rem;
}
